{% if !hx %}
{% include "top.html" %}
{% endif %}
<h1>Login</h1>
      <form hx-post="/login/">
        <div>
          <label for="exampleInputEmail1">Name</label>
          <input type="text" id="loginName" name="name" autocomplete="username" required>
        </div>
        <div >
          <label for="exampleInputPassword1">Password</label>
          <input type="password" id="loginPassword" name="password" autocomplete="password" required>
        </div>
        <div >
          <input type="checkbox" id="exampleCheck1" name="remember">
          <label for="exampleCheck1">Remember me</label>
        </div>
        <button type="submit">Login</button>
      </form>
      <div id="form-errors"></div>
{% if !hx %}
{% include "bottom.html" %}
{% endif %}
