<!DOCTYPE html>
<html>
{% include "head.html" %}
<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MQTTPal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" hx-get="/dashboard/" hx-target="#mainWindow" hx-push-url="true">Dashboard</a>
        </li>
        <li class="nav-item">
          {% match user %}
            {% when Some (val) %}
              <a class="nav-link" hx-get="/users/" hx-target="#mainWindow" hx-push-url="true">Users</a>
            {% else %}
          {% endmatch %}
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          {% match user %}
            {% when None %}
              <a class="nav-link" hx-get="/login/" hx-target="#mainWindow" hx-push-url="true">Login</a>
            {% when Some (val) %}
              <a class="nav-link" hx-post="/logout/" hx-push-url="true">Logout ({{ val }})</a>
          {% endmatch %}
        </li>
      </ul>
    </div>
  </nav>
  <div class="container" id="mainWindow">
