<!DOCTYPE html>
<html>
{% include "head.html" %}
<body>
  <header class="container">
    <nav>
      <ul>
        <li>
          MQTTPal
        </li>
          {% match user %}
            {% when Some (val) %}
        <li>
          <a hx-get="/dashboard/" hx-target="#mainWindow" hx-push-url="true">Dashboard</a>
        </li>
        <li>
              <a hx-get="/users/" hx-target="#mainWindow" hx-push-url="true">Users</a>
        </li>
            {% else %}
          {% endmatch %}
      </ul>
      <ul>
        <li>
          {% match user %}
            {% when None %}
              <a hx-get="/login/" hx-target="#mainWindow" hx-push-url="true">Login</a>
            {% when Some (val) %}
              <a hx-post="/logout/" hx-push-url="true">Logout ({{ val }})</a>
          {% endmatch %}
        </li>
      </ul>
    </nav>
  </header>
  <main class="container" id="mainWindow">
