<!DOCTYPE html>
<html>

<head>
  <title>MQTTPal</title>
  <link rel="stylesheet" href="https://unpkg.com/missing.css@1.0.9/dist/missing.min.css">
  <script src="/js/htmx.min.js"></script>
</head>

<body>
  <header class="navbar">
    <nav>
      <ul role="list">
        <li>
          MQTTPal
        </li>
        {% match user %}
        {% when Some (val) %}
        <li>
          <a hx-get="/users/" hx-target="#mainWindow" hx-push-url="true">Users</a>
        </li>
        <li>
          <a hx-get="/mqtt_clients/" hx-target="#mainWindow" hx-push-url="true">MQTT Clients</a>
        </li>
        <li>
          <a hx-post="/logout/" hx-push-url="true">Logout ({{ val }})</a>
        </li>
        {% else %}
        <li>
          <a hx-get="/login/" hx-target="#mainWindow" hx-push-url="true">Login</a>
        </li>
        {% endmatch %}
        <li>
          <!-- Display the countdown timer in an element -->
          <div id="ten-countdown"></div>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="container" id="mainWindow">
      {{ body|safe }}
    </div>
  </main>
  <script>
function countdown( elementName, minutes, seconds )
{
    var element, endTime, hours, mins, msLeft, time;

    function twoDigits( n )
    {
        return (n <= 9 ? "0" + n : n);
    }

    function updateTimer()
    {
        msLeft = endTime - (+new Date);
        if ( msLeft < 1000 ) {
            element.innerHTML = "Time is up!";
        } else {
            time = new Date( msLeft );
            hours = time.getUTCHours();
            mins = time.getUTCMinutes();
            element.innerHTML = (hours ? hours + ':' + twoDigits( mins ) : mins) + ':' + twoDigits( time.getUTCSeconds() );
            setTimeout( updateTimer, time.getUTCMilliseconds() + 500 );
        }
    }

    element = document.getElementById( elementName );
    endTime = (+new Date) + 1000 * (60*minutes + seconds) + 500;
    updateTimer();
}

countdown( "ten-countdown", 10, 0 );
    </script>
</body>

</html>