<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th></th>
  </thead>
  <tbody id="clients">
  {% for mqtt_client in mqtt_clients %}
  {% include "mqtt_client_row.html" %} 
  {% endfor %}
  </tbody>
</table>


<div class="box">
  <form hx-post="/mqtt_client/" hx-target="#mainWindow">
    <label for="name">Name</label>
    <input id="name" name="name">
    <label for="url">URL</label>
    <input type="url" id="url" name="url">
    <div class="right">
      <button type="submit" class="info bg border">Add</button>
    </div>
  </form>
</div>
