<div class="f-switch justify-content:start">
  <table>
    <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Email</th>
      <th></th>  
    </tr>
    </thead>
    <tbody id="users">
{% for user in users %}
{% include "user_row.html" %} 
{% endfor %}
    </tbody>
  </table>
</div>

<div class="box">
  <form hx-post="/user/" hx-target="#mainWindow">
    <label for="name">Username</label>
    <input id="name" name="name">
    <label for="email">E-Mail</label>
    <input type="email" id="email" name="email">
    <label for="password">Password</label>
    <input type="password" id="password" aria-describedby="passHelp" name="password">
    <label for="role">Role</label>
    <select id="role" name="role_id">
      <option value="1" selected>User</option>
      <option value="0">Admin</option>
    </select>
    <div class="float:right">
      <button class="info bg border" type="submit">Add</button>
    </div>
  </form>
</div>