<form hx-put="/user/{{ user.id }}" hx-target="#resultContainer">
  <label for="name">Username</label>
  <input id="name" name="name" value="{{ user.name }}">
  <label for="email">E-Mail</label>
  <input type="email" id="email" name="email" value="{{ user.email.clone().unwrap_or("".into()) }}">
  <label for="password">Password</label>
  <input type="password" id="password" aria-describedby="passHelp" name="password" value="">
  <label for="role">Role</label>
  <select id="role" name="role_id">
    <option value="1" {% if user.role_id == 1 %} selected {% else %}{% endif %}>User</option>
    <option value="0" {% if user.role_id == 0 %} selected {% else %}{% endif %}>Admin</option>
  </select>
  <div style="margin-top: 1em">
    <div class="float:left">
      <button type="submit" class="info bg border">Save</button>
      <div id="resultContainer">
      </div>
    </div>
    <div class="float:right">
      <button class="bad bg border" hx-delete="/user/{{ user.id }}" hx-target="#mainWindow" hx-confirm="Are you sure to delete {{ user.name }}?">Delete</button>
    </div>
  </div>
</form>